<?xml version="1.0"?>
<configuration>
   <system.webServer>
      <defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
         <files>      
            <clear/>                   <!-- removes the existing default document list -->                
            <add value="foo.htm"/>     <!-- foo.htm is now the default document  -->                
            <add value="foo.php"/>     <!-- 2nd default document in search order -->                
            <add value="foo.aspx"/>     <!-- 3rd default document in search order -->                
            <add value="foo.cfm"/>      <!-- 4th default document in search order -->
         </files>
      </defaultDocument>
      <modules runAllManagedModulesForAllRequests="true"/>
      <httpErrors errorMode="Detailed"/>
      <validation validateIntegratedModeConfiguration="false"/>
      <!-- We need the following 6 lines, to let AngularJS call our REST web services --> 
      <httpProtocol>
         <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*"/>
            <add name="Access-Control-Allow-Headers" value="Content-Type"/>
         </customHeaders>
      </httpProtocol> 
   </system.webServer>
</configuration>